* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
}


/*--NAV--*/

body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-gap: 20px;
}

nav {
    grid-column: 2/ -2;
    grid-row: 2 / -5;
}

header {
    grid-column: 2 / -2;
    grid-row: 3 / -4;
}

section {
    grid-row: 4 / -3;
}

footer {
    grid-row: 5 / -2;
}

#copyright {
    grid-row: 6 / -1;
}