                    * {
                        padding: 0;
                        margin: 0;
                        border: 0;
                        text-decoration: none;
                    }
                    /*--HEADER--*/
                    
                    header {
                        background-image: linear-gradient(rgba(41, 41, 41, 0.281), rgba(41, 41, 41, 0.315)), url(images/background.jpeg);
                        height: 570px;
                        background-position: 50%;
                        background-repeat: no-repeat;
                        margin-bottom: 2px;
                    }
                    
                    .inside {
                        display: grid;
                        grid-template-rows: repeat(2, auto);
                        grid-template-columns: 1fr auto auto 1fr;
                        justify-items: center;
                    }
                    
                    nav {
                        margin-top: 10%;
                        grid-column: 2/-2;
                    }
                    
                    ul {
                        display: grid;
                        justify-items: center;
                        grid-auto-flow: column;
                        list-style: none;
                        background: linear-gradient(rgb(144, 144, 144) 5px, rgb(107, 107, 107) 20px, rgb(87, 87, 87) 10px, rgb(114, 114, 114)60px);
                        border: .5px solid rgba(93, 93, 93, 0.685);
                        border-radius: 4px;
                        box-shadow: 1px .5px 5px 0 rgba(68, 68, 68, 0.788);
                    }
                    
                    li {
                        height: 25px;
                        padding: 10px 35px 3px 35px;
                        font-family: 'Lato';
                        font-weight: 400;
                        font-size: 13px;
                        color: white;
                        border-right: 1px solid rgba(78, 77, 77, 0.596);
                    }
                    
                    .nav-list:hover {
                        background-color: rgba(58, 58, 58, 0.488);
                    }
                    
                    #apple {
                        font-size: 20px;
                        position: relative;
                        bottom: 3px;
                    }
                    
                    input {
                        position: relative;
                        width: 120px;
                        height: 25px;
                        bottom: 3px;
                        width: 120px;
                        height: 25px;
                        border-radius: 20px;
                        border-top: 2px solid black;
                        border-bottom: 1px solid rgb(155, 153, 153);
                        background: linear-gradient(rgb(135, 135, 135) 12px, rgb(109, 108, 108)10px, rgb(123, 123, 123));
                        background-color: grey;
                        outline: none;
                    }
                    
                    .header-details {
                        grid-row: 2 / -1;
                        grid-column: 2 / -2;
                        margin-top: 40px;
                    }
                    
                    .header-details>div>a {
                        color: white;
                        font-family: 'Thasadith';
                        font-weight: 300;
                        text-align: center;
                    }
                    
                    #row-1 {
                        font-size: 60px;
                        padding-bottom: 20px;
                    }
                    
                    #row-2 {
                        font-size: 35px;
                        width: 800px;
                        line-height: 45px;
                    }
                    
                    #row-3 {
                        font-size: 25px;
                        padding-top: 30px;
                    }
                    
                    #play-btn {
                        font-size: 30px;
                        position: relative;
                        top: 8px;
                    }
                    /*--IMAGES--*/
                    
                    section {
                        display: grid;
                        grid-template-columns: repeat(4, minmax(150px, 100%));
                        gap: 3px;
                    }
                    /*--FOOTER--*/
                    
                    footer {
                        display: grid;
                        grid-template-columns: repeat(2, auto);
                        font-family: 'Lato';
                        font-size: 12px;
                        color: rgb(133, 133, 133);
                        padding: 20px;
                        text-align: center;
                    }
                    
                    #footer-left>div>a {
                        color: rgb(26, 129, 226);
                        line-height: 25px;
                    }
                    
                    #footer-left>div>a:hover {
                        text-decoration: underline;
                    }
                    
                    #footer-right {
                        display: flex;
                    }
                    
                    #footer-right>div>a {
                        border-right: 1px solid grey;
                        padding: 0 5px;
                        color: rgb(26, 129, 226);
                    }
                    
                    #footer-right>div>a:hover {
                        text-decoration: underline;
                    }